$AQUA: #28d2d0
$BLACK: #000000
$DARK_GRAY: #333
$DARK_BLUE: #455a89
$DARK_GRAYISH_BLUE: #6c757d
$DARK_GRAYISH_CYAN: #718888
$GRAYISH_BLUE: #9ca8b7
$GRAYISH_LIME_GREEN: #b0cfae
$LIGHT_GRAY: #e1e1e1
$LIGHT_GRAYISH_BLUE: #fafbfe
$LIGHT_GRAYISH_LIME_GREEN: #cfebcc
$RED: #ff0000
$SOFT_BLUE: #727cf5
$SOFT_LIGHT_BLUE: #4e5bf2
$SOFTER_LIGHT_BLUE: #4250f2
$SOFT_ORANGE: #f18762
$STRONG_RED: #c41111
$VERY_DARK_GRAYISH_BLUE: #313a46
$VERY_LIGHT_GRAY: #ebebeb
$WHITE: #ffffff